<div class=" aem-Grid aem-Grid--2 aem-Grid--phone--2 grid-comp counter_number">
    <div class="aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--phone--2 gridComponentTextLeft">
        <sly data-sly-resource="${'text-1' @ resourceType='/apps/vanguard/components/text'}"></sly>
    </div>  <div class="aem-GridColumn aem-GridColumn--default--1  aem-GridColumn--phone--2 gridComponentTextRight">
        <sly data-sly-resource="${'text-2' @ resourceType='/apps/vanguard/components/text'}"></sly>
    </div> 
</div>