.vg-blockquote {
    position: relative;
	background: #FFEDED 0% 0% no-repeat padding-box;
	&__content {
		color: #000;
        padding: 7%;
        display: block;
        float: left;
	}
	&__title {
        width: 50%;
    }
    &__main-title{
		margin: 0;
		font: normal normal 900 60px/72px Mark Pro Heavy;
    }
    &__subtitle{
        font: normal normal normal 25px/35px Mark Pro;
        letter-spacing: 0px;
        color: #000000;
    }
    &__quote-text{
        text-align: left;
        font: normal normal 900 74px/89px Mark Pro Heavy;
        letter-spacing: 0px;
        color: #000000;
        margin: 20px 0 30px 0;
    }
    &__description{
        float: left;
        width: 50%;
    	text-align: left;
        font: normal normal normal 25px/35px Mark Pro;
        letter-spacing: 0px;
        color: #000000;
    }
}

@media screen and (max-width: 768px) {
    .vg-blockquote{
        &__content {
            padding: 60px 6%;
        }
        &__title {
            width: 100%;
        }
        &__subtitle{
            width: 100%;
            text-align: left;
            font: normal normal normal 18px/24px Mark Pro;
            letter-spacing: 0px;
            color: #000000;
        }
        &__main-title{
            width: 100%;
            text-align: left;
            font: normal normal 900 40px/45px Mark Pro Heavy;
            letter-spacing: -0.6px;
            color: #000000;
            margin-bottom: 20px;
        }
        &__quote-text{
            width: 100%;
            text-align: left;
            font: normal normal 900 45px/50px Mark Pro Heavy;
            letter-spacing: 0px;
            color: #000000;
            margin: 30px 0;
        }
        &__description {
            float: left;
            width: 100%;
        	text-align: left;
            font: normal normal normal 18px/24px Mark Pro;
            letter-spacing: 0px;
            color: #000000;
            p{
                margin-bottom: 15px;
            }
        }
    }

}