.vg-blockquote {
    position: relative;

	&__v-image {
    position: absolute;
    left: 50%;
    margin-top: -40px;
    }
	&__content {
		color: #000;
        padding: 7%;
        display: block;
        float: left;
	}
	&__title {
        width: 50%;
    }
    &__main-title{
		margin: 0;
		font: normal normal 900 60px/70px Mark Pro Heavy;
    }
    &__subtitle{
        font: normal normal normal 25px/35px Mark Pro Bold;
        letter-spacing: 0px;
        color: #000000;
    }
    &__quote-text{
        text-align: left;
        font: normal normal 900 74px/89px Mark Pro Heavy;
        letter-spacing: 0px;
        color: #000000;
        margin: 20px 0 30px 0;
    }

    &__quote-text-width {
    font: normal normal normal 74px/78px Thorndale AMT;
    width: 90vw;
    margin: 20px 0 30px 0;
    }

    &__description{
        float: left;
        width: 54%;
    	text-align: left;
        font: normal normal normal 25px/35px Mark Pro Regular;
        letter-spacing: 0px;
        color: #000000;

        i{
          font-style:italic;
        }
    }
    &__description-lineheight{
        font:normal normal normal 25px/30px Mark Pro;
    }
    &__content__white{
        color:#FFFFFF;
        position:relative;
    }
    &__v-image-leftdoublequote{
        padding-top: 25%;
        position: absolute;
        width: 172px;
    }
    &__v-image-rightdoublequote{
        position: absolute;
        right: 7%;
        top: 39%;
        width: 172px;
    }

}

@media screen and (max-width: 767px) {
    .vg-blockquote{
        &__v-image {
        left: 12%;
        width: 80%;
        height: 50%;
        }
        &__content {
            padding: 60px 6%;
        }
        &__title {
            width: 100%;
        }
        &__subtitle{
            width: 91%;
            text-align: left;
            font: normal normal normal 18px/24px Mark Pro Bold;
            letter-spacing: 0px;
        }
        &__main-title{
            width: 98%;
            text-align: left;
            font: normal normal 900 40px/45px Mark Pro Heavy;
            letter-spacing: -0.6px;
            margin-bottom: 20px;
        }
        &__quote-text-width{
            width:65vw;
        }
        &__quote-text{
            width: 92%;
            text-align: left;
            font: normal normal 900 45px/50px Mark Pro Heavy;
            letter-spacing: 0px;
            margin: 30px 0;
        }
        &__description {
            float: left;
            width: 92%;
        	text-align: left;
            font: normal normal normal 18px/24px Mark Pro Regular;
            letter-spacing: 0px;
            p{
                margin-bottom: 15px;
            }
        }

    }
}
@media (min-width: $cmp-vang-breakpoint-m) {
  .vg-blockquote {
    max-width: $container-maxwidth;
    float: unset !important;
    margin: 0 auto !important;
    clear: both !important;
  }
}

@media screen and (max-width: 768px) {
    .vg-blockquote{
        &__v-image {
        left: 20%;
        }
    }
}
@media screen and (min-width: 769px) and (max-width:1024px){
    .vg-blockquote{
        &__v-image {
        left: 40%;
        }
    }
}