   .vg-disclaimer{
       
    &__text-bold{
    font: normal normal bold 12px/14px Helvetica Neue Bold;
    padding: 5% 7%;
    color: #707070;
    }
    &__text-normal{
    font: normal normal normal 12px/14px Helvetica Neue;
    padding: 5% 7%;
    color: #707070;
    }
}