.vg-disclaimer {
	padding: 2% 10%;

	&__text {

		color: #707070;

		&-bold {
			font: normal normal bold 12px/14px Helvetica Neue Bold;

		}

		&-normal {
			font: normal normal normal 12px/14px Helvetica Neue;
		}
	}
}



@media screen and (max-width: $cmp-vang-breakpoint-s) {
	.vg-disclaimer {
    padding: 6%;
	}
}