.vg-footer{ 

    background-color: $color-f2f2f2;
    
   &__socialicons {
    background-color: $color-f2f2f2;
    padding: 2% 15%;
    }
   &__socialicons-list{
        list-style-type: none;
    }
   &__socialicons-listitem{
    display: inline-block;
    margin-right: 24px;
    margin-top: 18px;
    line-height: 21px;
    padding-left: 30px;
    }
    &__socialicons-listitem a{
        color:$color-333;
        text-decoration: none;
    }
    &__socialicons-listitem a:hover{
        text-decoration: underline;
    }
    &__socialicons-listitem__logo::before {
        content: '';
        margin-left: -30px;
        margin-right: 9px;
        display: inline-block;
        vertical-align: bottom;
        width: 21px;
        height: 21px;
        background: url(/content/dam/vanguard/sprite-4.2.0.svg) no-repeat;
    }
    &__socialicons-listitem__social-blog:before{
        background-position: -140px -2px;
    }
    &__socialicons-listitem__social-linkedin:before{
        background-position: -48px -2px;
    }
    &__socialicons-listitem__social-phone:before{
        background-position: -186px -2px;
    }
    &__socialicons-listitem__social-subscribe:before{
        background-position:-209px -2px;
    }
    &__container{
        padding:2% 15%;
        background-color: $color-e5e5e5;
    }
    &__links{
        border-bottom: 1px solid #666;
        padding-bottom: 24px;
    }
    &__links-heading{
        font-family: Univers-Basic-Bold,Arial,sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__links-column {
        text-align: left;
        list-style-type: none;
        margin-bottom: 10px;
    }
    &__links-item{
        list-style-type: none;
        margin-bottom: 10px;
    }
    &__links-item-link{
        font-family: Univers-Basic-Regular,Arial,sans-serif;
        font-size: 14px;
        color: $color-333;
        text-decoration: none;
    }
    &__links-item-link:hover{
        text-decoration: underline;
        color: $color-333;
    }
    &__copyright-container-left{
        padding: 20px 0px;
    }
    &__copyright-container-left p{
    line-height: 20px;
    }
    &__copyright-container{
        display: flex;
    }
    &__copyright-container-left li{
        list-style-type: none;
        display: inline-block;
    }
    &__copyright-termsandconditions{
        color:$color-333;
    }
    &__copyright-termsandconditions:hover{
        color:$color-96151d;
    }
    &__copyright-list{
        padding-left:0rem;
        padding-top: 2rem;
    }
    &__copyright-list-item{
        color:$color-333;
    }
    &__copyright-list-item:hover{
        color:$color-96151d;
    }
    &__copyright-list-item span:hover{
        color:$color-96151d;
    }
    &__copyright-list-item:after {
        content: '|';
        display: inline-block;
        margin-left: 9px;
        margin-right: 9px;
        color:$color-333;
    }
    &__copyright-list-Adchoices:before{
        background: url(/content/dam/vanguard/sprite-4.2.0.svg) -335px -79px no-repeat;
          content: '';
          display: inline-block;
          position: relative;
          margin-left: 3px;
          height: 16px;
          width: 16px;
          top: 4px;
          left: -2px;
      }
    &__copyright-container-right{
        position: relative;
    }
    &__copyright-feedbackLink{
        content: '';
        background: url(/content/dam/vanguard/feedback_link%20.gif) left center no-repeat;
        display: inline-block;
        padding-left: 10px;
        position: absolute;
        bottom: 17px;
    }
    &__copyright-feedbackLink a{
        color:$color-333;
    }
    &__copyright-feedbackLink a:hover{
        color:$color-96151d;
    }
    
}

@media screen and (max-width: 768px){
    .vg-footer{
    
    &__socialicons-list, .vg-footer__copyright-list {
      column-count: 2;
    }

    &__copyright-list {
        column-count: 2;
    }
    
    &__copyright-list-item:after {
    display: none;
    }
    &__links{
    display:none ;
    }
    &__container {
        padding: 6%;
    }
    &__socialicons{
        padding: 6%;
    }
    &__copyright-container {
        display: block;
    }
    &__copyright-feedbackLink{
        position: relative;
        float: right;
    }
    &__copyright-container-left li{
    padding-bottom: 9px;
    }
    }
    }

@media screen and (min-width: 600px) and (max-width: 1000px){
    .vg-footer{
    
    &__socialicons-list {
        column-count: 4;
    }
    }
}

