.cmp-background {
  &__red {
    background: $color-c20029 0% 0% no-repeat padding-box;
  }

  &__grey {
    background: $color-ffeded 0 0 no-repeat padding-box;
  }

  &__snow {
    background: $color-snow 0 0 no-repeat padding-box;
  }

  &__nav-red {
    background: $color-nav-red 0 0 no-repeat padding-box;
  }

  &__white {
    background: $color-ffffff 0 0 no-repeat padding-box;
  }
}

@media (min-width: $cmp-vang-breakpoint-m) {
  .cmp-layout-container--fixed {
    max-width: $container-maxwidth;
    float: unset !important;
    margin: 0 auto !important;
    clear: both !important;
  }
}