.line-chart-container {
  width: 100%;
  position: relative;
  .growth_info {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
    color: #000;
    max-width: 140px;
    line-height: normal;
    display: none;
    h2 {
      color: #c20029;
      font-size: 57px;
      padding: 0;
      margin: 0;
    }
  }
  .line-chart {
    width: 100%;
    svg {
      width: 100%;
    }
    path {
      stroke: #c20029;
      stroke-width: 8;
      fill: none;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: rgba(0, 0, 0, 0.75);
      stroke-width: 2;
      shape-rendering: crispEdges;
    }

    .test {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 40px;
    }
    .data-point {
      stroke: #00bda3;
      stroke-width: 2;
      fill: #fff;
    }
  }
}
.graph_information {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  max-width: 50%;
  margin-left: 5%;
}
.graph-container {
    background-color: $color-ffffff;
    padding: 10% 0 10% 0px;
}