.gridComponentTextRight .real {
	padding: 0 75px;
}

.gridComponentTextLeft {
	background-color: #ffffff;
	padding: 28px 0 38px 0;
}

.gridComponentTextRight {
	background-color: #f9f9f9;
	padding: 28px 0 38px 0;
}

.grid-comp {
	text-align: center;
	display: flex;
}

.grid-comp p {
	font-size: 25px;
	font: normal normal bold 25px/44px Mark Pro Bold;
	text-align: center;
	display: block;
	line-height: 30px;
}

@media screen and (max-width: 768px) {
	.grid-comp {
		display: block;
	}

	.grid-comp p {
		font-size: 20px;
	}

	.gridComponentTextLeft,
	.gridComponentTextRight {
		width: 100%;
	}

}
