.cmp-teaser--hero-banner {
  .cmp-teaser {

    .cmp-image__image  {
      max-height: 980px;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 768px){
.cmp-teaser--hero-banner {
  .cmp-teaser {
    .cmp-image__hero-banner-image  {
    height: auto;
    width: 220vw;
    transform: translate(-35%, 0%);
    }
  }
}
}