@media screen and (max-width: 767px){
 .cmp-teaser {
    .cmp-image__hero-banner-image  {
      width: 260vw;
      height: auto;
      transform: translate(-40%, 0%);
    }

  }
}
@media screen and (min-width: 768px){
.cmp-teaser__description-text{
    margin-top: 100px;
   }
}
