h2.cmp-teaser__title {
    font-size: 2.875rem !important;
    line-height: 1 !important;
    font-family: Roboto,sans-serif !important;
}

 

.cmp-teaser__content {
    width: 57%;
    bottom: auto !important;
    padding: 3.875rem !important;
    background: none !important;
}

 

.cmp-teaser__content .cmp-teaser__action-link {
    background-color: #000;
    border-radius: 25px;
    text-transform: initial;
    padding: 0.65rem 3rem;
    border: none;
}

.cmp-teaser__title-link:hover {
    color: #fff !important;
}
 

.cmp-teaser__description h3 {
    margin-bottom: 10px;
}

 

.cmp-teaser__description p {
    margin-bottom: 20px !important;
}
