.cmp-navigation {}
.cmp-navigation__group {}
.cmp-navigation__item {}
.cmp-navigation__item--active {}
// .cmp-navigation__item--level-0 {}
.cmp-navigation__item-link {}

.cmp-scrollnavigation {
    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        background-color: #C20029;
    }
    &__item {
        padding: 1.2% 3%;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        background: #660026 0% 0% no-repeat padding-box;
        border-top: 0;
        border-bottom: 0;
        margin-right: 1px;
    }
    &__link.nav-link {
        text-align: center;
        font: normal normal bold 18px/21px Mark Pro Bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }
    &__link__arrow {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .cmp-scrollnavigation{
        &__list {
            display: block;
            li{
                &:first-child {
                background: #660026 0% 0% no-repeat padding-box;
                    a{
                         color: #fff;
                         border: none;
                         width: 90%;
                    }
                }
                &:last-child a{
                    border: none;
                }
            }
        }
        &__item {
            background: #F9F9F9 0% 0% no-repeat padding-box;
            text-align: left;
            padding: 2% 7%;
        }
        &__link.nav-link {
            text-align: left;
            font: normal normal bold 16px/16px Mark Pro Bold;
            letter-spacing: 0px;
            color: #660026;
            text-transform: uppercase;
            width: 100%;
            float: left;
            border-bottom: 0.5px solid #660026;
            padding: 8px 0;
        }
        &__link__arrow {
           transform: rotate(90deg);
            display: block;
            float: right;
            font: normal normal bold 30px/16px Mark Pro Bold;
            position: relative;
            top: 7px;
            color: #fff;
            right: 0;
        }
    }
}