.flip_number_container {
  text-align: center;
  font-size: 25px;
  line-height: 44px;
  color: #000000;
  font-weight: normal;
  .flip_numbers {
    font-size: 92px;
    line-height: 116px;

    .flip_number {
      position: relative;
      transform-style: preserve-3d;
      display: inline-block;
      vertical-align: top;
      transition: 1s;
      .front {
        overflow: hidden;
        backface-visibility: hidden;
        position: relative;
        display: block;
        text-align: center;
      }
      .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @extend .front;
      }
    }
    &.flip {
      .flip_number {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    }
  }
  .fadeIn {
    font-family: "Mark Pro";
  }
  .fadeOut {
      font-family: "Mark Pro";
    }
  p {
    padding: 0;
    margin: 0;
  }
  h4 {
    font-size: 25px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .maroon-colour {
    color: #c20029;
  }
}
