/*Press inquiries sart here*/
.vg-pressinquiries--component {
  .cmp-teaser {
    &__image {
      width: 50%;
    }

    &__content {
      left: auto;
      width: 50%;
      padding: 7% 0;
      height: 100%;
    }

    &__title {
      text-align: left;
      font: normal normal 900 60px/70px Mark Pro Heavy;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      width: 100%;

      &-link {
        color: #000000;
        padding: 0 7%;
        display: block;
      }
    }

    &__description {
      padding: 0 7%;
      max-width: 667px;
    }

    &__action-container {
      padding: 0 7%;
    }

    &__description p {
      text-align: left;
      font: normal normal normal 25px/30px Mark Pro;
      letter-spacing: 0px;
      color: #000000;
      margin: 32px 0 60px 0;
      width: 100%;
      i {
        font-style: italic;
      }
    }

    &__action-link {
      margin-top: 0;
      margin-right: 30px;
      text-align: center;
      font: normal normal bold 18px/16px Mark Pro Bold;
      letter-spacing: 0px;
      color: #ffffff;
    }

    .cmp-image__image {
      height: 531px;
      object-fit: cover;
    }
  }
}

/*Press inquiries end here*/

@media screen and (max-width: 768px) {
  .vg-pressinquiries--component {
    .cmp-teaser {
      &__image {
        width: 100%;
      }

      &__content {
        padding: 7% 0;
        position: relative;
        background: #fff 0% 0% no-repeat padding-box;
        width: 100%;
      }

      &__title {
        width: 100%;
        font: normal normal 900 40px/45px Mark Pro Heavy;
        text-align: left;

        &-link {
          padding: 0 35px;
        }
      }

      &__description p {
        margin: 20px 0 50px 0;
        color: #000;
        width: 100%;
        font: normal normal normal 18px/24px Mark Pro;
        letter-spacing: 0px;
      }

      &__action-link {
        margin: 0 0 50px 0;
        font: normal normal bold 18px/23px Mark Pro Bold;
        max-width: 290px;
      }

      &__action-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__description {
        padding: 0 35px;
      }

      .cmp-image__image {
        height: 425px;
      }
    }
  }
}

@media (min-width: $cmp-vang-breakpoint-m) {
  .vg-pressinquiries--component {
    .cmp-teaser {
      max-width: $container-maxwidth;
      float: unset !important;
      margin: 0 auto !important;
      clear: both !important;
    }
  }
}
