.cmp-teaser--team-member-single {
	.cmp-teaser {
		.cmp-image__image {
			max-width: 100%;
			height: auto;
		}

		&__content {
			position: relative;
			padding: 0 30px;
		}

		&__title {
			font: normal normal 900 18px/30px Mark Pro;
			width: 100%;
			margin: .5rem 0;
			color: #000000;
		}

    &__title-link {
			color: #000000;
      font: normal normal 900 18px/30px Mark Pro;
		}

		&__description * {
			font: normal normal normal 12px/14px Mark Pro;
			width: 100%;
			color: #000000;
		}

		&__action-link {
			display: none;
		}
	}
}

@media screen and (min-width: $cmp-vang-breakpoint-s) {
	.cmp-teaser--team-member-single {
		.cmp-teaser {
			overflow: unset;
			height: 100%;

			&__content {
				position: absolute;
				bottom: 0;
				top: unset;
				left: -264px;
				max-width: 200px;
				text-align: right;
			}

			&__title {
				text-align: right;
        font: normal normal 900 25px/30px Mark Pro;
			}

      &__description * {
        font: normal normal normal 17px/20px Mark Pro;
      }

			&__image {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex: 2;
        height: 100%;
			}

			.cmp-image {
				width: 100%;
				height: 100%;

				&__image {
					margin-top: 0;
					margin-bottom: 0;
					object-fit: cover;
					object-position: top;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: ($cmp-vang-breakpoint-s - 1)) {
	.cmp-teaser--team-member-single {
		.cmp-teaser {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}
