.cmp-teaser--expert {
	.cmp-teaser {
		&__image {
			display: none;
		}

		&__content {
			position: relative;
			padding: 60px 35px 30px 35px;
      width:100%;
      box-sizing: border-box
		}

		&__title {
			font:normal normal 900 60px/70px 'Mark Pro Heavy';
			color: #000000;
			width: 100%;
			margin-bottom: 17px;
		}

		&__title-link {
			color: #000000;
		}

		&__description {
			margin-bottom: 50px;
		}

		&__description-text {
		    margin-top: 0px;
		}

		&__description p {
			width: 100%;
			margin-bottom: 33px;
			color: #000000;
			font: normal normal normal 18px/24px Mark Pro;

			i {
				font-style: italic;
			}
		}

		&__action-link {
			margin-top: 0;
			text-align: center;
			font: normal normal bold 18px/16px 'Mark Pro Bold';
			letter-spacing: 0px;
			color: #ffffff;
		}
	}
}

@media screen and (min-width: $cmp-vang-breakpoint-s) {
	.cmp-teaser--expert {
     flex: 1 1 60% ;

		.cmp-teaser {
      display: flex;
      align-items: center;
      height: 100%;

			&__content {
				padding: 6.25rem 11.66%;
        max-width: 821px;
			}

			&__title {
				font: normal normal 900 60px/70px 'Mark Pro Heavy';
				margin-bottom: 30px;
			}

			&__description {
				margin-bottom: 60px;
			}

			&__description p {
				margin-bottom: 33px;
				font: normal normal normal 25px/35px Mark Pro;
			}

			&__action-link {
				font: normal normal bold 18px/16px 'Mark Pro Bold';
			}
		}
	}
}

// container styles.
.cmp-container-expert {
  background-color: #ffffff;
}

@media screen and (min-width: $cmp-vang-breakpoint-s) {
	.cmp-container-expert {
		>.cmp-container>div {
			display: flex;
			overflow: hidden;
			align-items: stretch;
		}
	}
}

@media (min-width: $cmp-vang-breakpoint-m) {
	.cmp-container-expert {
		>.cmp-container {
			max-width: $container-maxwidth;
			float: unset !important;
			margin: 0 auto !important;
			clear: both !important;
		}
	}
}


@media screen and (max-width: $cmp-vang-breakpoint-s) {
	.cmp-teaser--expert {
		.cmp-teaser {
	&__title {
		font: normal normal 900 40px/45px Mark Pro Heavy;
	}
}
	}

}
