.cmp-teaser {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  color: #fff;
    .cmp-teaser__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: auto;
      min-width: auto;
    }
  .cmp-teaser__title {
    width: 462px;
    color: #000;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    padding: 0;
    margin: 0;
    font-size: 72px;
    line-height: 74px;
    font-family: "Mark Pro Heavy";
  }
  .cmp-teaser__title-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    pointer-events: none;
    &:hover {
      color: #fff;
    }
  }
  .cmp-teaser__content {
    bottom: auto;
    padding: 76px 90px;
    background: none;
  }
  .cmp-teaser__description {
    h3 {
      margin-bottom: 10px;
      font-size: 27px;
      font-weight: bold;
      width: 490px;
      text-align: left;
      margin-top: 8px;
    }
    p {
      margin-bottom: 20px 0;
      font: normal normal normal 18px/24px Mark Pro;
      width: 488px;
    }
  }
  .cmp-image__image {
    width: 100%;
    display: block;
  }
  .cmp-teaser__action-link {
    background-color: #000;
    border-radius: 100px;
    padding: 14px 24px;
    border: none;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    border-color: #fff;
    color: #fff;
    text-transform: initial;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
/**** Expert Start *********/
.vg-expert--component {
    .cmp-image__image {
    	display: block;
    	height: auto;
    	text-align: center;
    	margin: 0 auto;
    }
	.cmp-teaser {
		background: #fff;
		width: 100%;
		&__image {
			float: left;
			width: 50%;
			display: block;
			clear: both;
		}
		&__content {
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				min-height: auto;
				min-width: auto;
				width: 50%;
				float: right;
				bottom: auto;
				padding: 174px 0px 225px 0;
				background: none;
		}
		&__title {
			width: 533px;
			text-align: left;
			opacity: 1;
			padding: 0;
			margin: 0;
			font-size: 60px;
			line-height: 74px;
			font-family: 'Mark Pro Heavy';
			letter-spacing: 0px;
			color: #232323;
		}
		&__title-link {
			color: #000;
			&:hover {
			  color: #000;
		    }
		}
		&__description p {
			margin: 34px 0;
			width: auto;
			text-align: left;
			font: normal normal normal 25px/30px Mark Pro;
			letter-spacing: 0px;
			color: #000000;
		}
    }
}
/**** Expert END *********/

/**** Banner Start *********/
.vg-banner--component {
  .cmp-teaser {
    background: #fff7de;
    width: 100%;
    height: 583px;
  }
  .cmp-teaser__image {
    width: 50%;
    float: right;
    & ~ .cmp-teaser__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: auto;
      min-width: auto;
      width: 50%;
    }
  }
  .cmp-image__image {
    display: block;
    width: 411px;
    height: 425px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  .cmp-teaser__title {
    width: 544px;
    text-align: left;
    opacity: 1;
    padding: 0;
    margin: 0;
    font-size: 60px;
    line-height: 50px;
    font-family: "Mark Pro Heavy";
    letter-spacing: 0px;
    color: #000000;
  }
  .cmp-teaser__title-link {
    color: #000;
    &:hover {
      color: #000;
    }
  }
  .cmp-teaser__content {
    bottom: auto;
    padding: 125px 112px;
    background: none;
  }
  .cmp-teaser__description {
    p {
      margin: 20px 0;
      width: 667px;
      text-align: left;
      font: normal normal normal 25px/30px Mark Pro;
      letter-spacing: 0px;
      color: #000000;
    }
  }
}
/**** Banner End *********/
@media screen and (max-width: 768px) {
  .cmp-teaser {
    .cmp-teaser__content {
      padding: 7%;
      width: 100%;
    }
    .cmp-image__image {
      height: 523px;
    }
    .cmp-teaser__title {
      width: 257px;
      text-align: left;
      font: normal normal 900 40px/45px Mark Pro Heavy;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin-right: 0;
    }
    .cmp-teaser__description {
      h3 {
        width: 231px;
        text-align: left;
        font: normal normal bold 25px/30px Mark Pro;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        margin: 20px 0 10px 0;
      }
      p {
        width: 280px;
        text-align: left;
        font: normal normal normal 18px/20px Mark Pro;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
    .cmp-teaser__action-link {
      max-width: 280px;
      text-align: center;
      margin-top: 154px;
      display: block;
      width: 100%;
      padding: 17px 0px;
    }
  }
  .cmp-teaser__action-container {
    width: 100%;
    margin: 0 auto;
  }
  /*** Expert Start ****/
  .vg-expert--component {
      .cmp-image__image {
          height: 350px;
          width: 100%;
      }
      .cmp-teaser {
           margin-bottom: 60px;
          &__image {
              width: 100%;
          }
          &__title {
            color: #232323;
          }
          &__content {
              width: 100%;
              padding: 35px 35px 0  35px;
              float: left;
              }

          &__description p {
              color: #000;
          }
      }
  }
  /*** Expert END ****/
  .vg-banner--component {
    .cmp-teaser {
      min-height: 810px;
      position: relative;
      float: left;
      .cmp-teaser__title {
        width: 100%;
      }
      .cmp-teaser__description {
        p {
          width: 100%;
          color: #000;
        }
      }
      .cmp-teaser__action-link {
        margin-top: 40px;
        width: 100%;
      }
      .cmp-image__image {
        width: 350px;
        height: 350px;
      }
    }
    .cmp-teaser__image {
      float: left;
      display: table;
      position: relative;
      top: 53%;
      width: 100%;
      & ~ .cmp-teaser__content {
        padding: 60px 35px;
        color: #000;
        width: 289px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .cmp-teaser__content {
    width: 80%;
  }
}
@media screen and (max-width: 330px){
    .cmp-teaser .cmp-teaser__action-link {
        max-width: 250px;
    }
}