.cmp-teaser {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  color: #fff;
}
.cmp-teaser__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 10rem;
  min-width: 15rem;
  padding: 0.75rem;
  font-size: 0.8125rem;
}
.cmp-teaser__image ~ .cmp-teaser__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: auto;
  min-width: auto;
}
.cmp-teaser__title {
  width: 462px;
  color: #000;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  padding: 0;
  margin: 0;
  font-size: 72px;
  line-height: 74px;
  font-family: "Mark Pro Heavy";
}
.cmp-teaser__title-link {
  text-decoration: none;
}

.cmp-teaser__title-link {
  color: #fff;
}
h1.cmp-title__text {
  font-size: 2.375rem;
}
h2.cmp-title__text {
  font-size: 1.875rem;
}
h3.cmp-title__text {
  font-size: 1.5rem;
}
h4.cmp-title__text {
  font-size: 1.25rem;
}
h5.cmp-title__text {
  font-size: 1rem;
}
h6.cmp-title__text {
  font-size: 0.875rem;
}
.cmp-teaser__content {
  bottom: auto;
  padding: 76px 90px;
  background: none;
}
.cmp-teaser__title-link:hover {
  color: #fff !important;
}
.cmp-teaser__description h3 {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: bold;
  width: 490px;
  text-align: left;
  margin-top: 8px;
}
.cmp-teaser__description p {
  margin-bottom: 20px !important;
  font: normal normal normal 18px/24px Mark Pro;
  width: 488px;
}
.cmp-image__image {
  width: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  .cmp-teaser__content {
    font-size: 12px;
    width: 80%;
  }
  .cmp-teaser__title {
    font-size: 2.75rem;
  }
  .cmp-teaser__content {
    padding: 1.875rem;
  }
}
@media screen and (max-width: 900px) {
  .cmp-teaser__content {
    width: 80%;
  }
}

.cmp-teaser .cmp-teaser__action-link {
     background-color: #000;
     border-radius: 100px;
     padding: 14px 24px;
     border: none;
     letter-spacing: 1px;
     display: inline-block;
     margin-top: 30px;
     font-size: 18px;
     font-weight: normal;
     line-height: 16px;
     border-color: #fff;
     color: #fff;
     text-transform: initial;
     text-decoration: none;
}
.cmp-teaser .cmp-teaser__title-link {
     text-decoration: none;
     cursor: pointer;
}
.cmp-teaser .cmp-teaser__action-link:hover {
     text-decoration: underline;
}
.vg-banner--component .cmp-image__image {
     width: 100%;
     display: block;
     height: 583px;
}
.vg-banner--component .cmp-teaser__image~.cmp-teaser__content {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     min-height: auto;
     min-width: auto
}
.vg-banner--component .cmp-teaser__title {
     width: 544px;
     text-align: left;
     opacity: 1;
     padding: 0;
     margin: 0;
     font-size: 60px;
     line-height: 50px;
     font-family: 'Mark Pro Heavy';
     letter-spacing: 0px;
     color: #000000;
}
.vg-banner--component .cmp-teaser__title-link {
     color: #000;
}
.vg-banner--component .cmp-teaser__content {
     bottom: auto;
     padding: 125px 112px;
     background: none;
}
.vg-banner--component .cmp-teaser__description p {
     margin: 20px 0;
     width: 667px;
     text-align: left;
     font: normal normal normal 25px/30px Mark Pro;
     letter-spacing: 0px;
     color: #000000;
}
@media screen and (max-width: 768px) {
     .vg-banner--component .cmp-teaser__content {
         font-size: 12px;
         width: 80%;
    }
     .vg-banner--component .cmp-teaser__title {
         font-size: 2.75rem;
    }
     .vg-banner--component .cmp-teaser__content {
         padding: 1.875rem;
    }
}
@media screen and (max-width: 900px) {
     .vg-banner--component .cmp-teaser__content {
         width: 80%;
    }
}
