.cmp-text {}
.cmp-text__paragraph {}
.maroon-colour {
    color : #c20029;
}
.number {
    font-family: Mark Pro;
    font-size: 92px;
    float: left;
    width: 100%;
    padding: 39px 0;
    text-align: center;
}

  @media screen and (max-width: 768px) {
    .number {
        font-size:44px;
      }
  }