@media (min-width: 1200px){
    #plan-compare .container {
    max-width: 1300px;
}
}
@media screen and (max-width: 600px){
#plan-compare img{
    width:100%;
}
}
@media screen and (max-width: 767px){
    #launch_tool{
        width:100%;
       
    }
    #launch_tool:hover{
    background-color: black !important;
    }
}

#launch_tool{
    border-radius: 25px;
    padding:.8rem 2rem;
    background-color: white;
    margin-bottom:25px;
    color:#666;
    transition: transform .1s;
}
#launch_tool:hover{
   border-radius: 10px solid red;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}