.banner-container {
  border-bottom: 2px solid #96151d
}

.banner-text-container {
  background-position: 100% 0 !important;
  background-size: contain !important;
  padding: 95px 72px;
  max-width: 1440px;
  margin: 0 auto
}

.banner-text-containerh2 {
  color: #020303;
  font-size: 14px;
  letter-spacing: 1.2px
}

.banner-text-containerh1,
.banner-text-containerh2 {
  font-family: Univers-Basic-Light, Arial, sans-serif;
  margin: 0;
  font-weight: 400
}

.banner-text-containerh1 {
  font-size: 68px;
  line-height: 76px
}

.banner-text-containerh3 {
  color: #009be5;
  font-size: 44px;
  font-family: Univers-Basic-Light, Arial, sans-serif;
  line-height: 52px;
  margin: 0;
  font-weight: 400
}

.banner-image {
  background-size: contain !important;
  background: url(../../resources/images/HAS_banner.svg) right center no-repeat;
}

@media screen and (max-width:1320px) {
  .banner-image {
      background-size: cover !important
  }
}

@media screen and (max-width:1024px) {
  .banner-text-container {
      padding: 55px 72px
  }

  .banner-text-containerh1 {
      font-size: 56px
  }

  .banner-text-containerh3 {
      font-size: 36px
  }
}

@media screen and (max-width:600px) {
  .banner-text-container {
      padding: 55px 40px
  }

  h1 {
      font-size: 42px;
      line-height: 42px;
      margin: 18px 0
  }

  h3 {
      font-size: 24px;
      line-height: 28px
  }
}

@media screen and (max-width:550px) {
  .banner-text-containerh1 {
      font-size: 42px;
      line-height: 42px;
      margin: 18px 0
  }

  .banner-text-containerh3 {
      font-size: 24px;
      line-height: 28px
  }
}
ul.contact-list {
  color: #fff;
  list-style-type: none;
  padding: 0;
  font-size: 16px
}

ul.contact-list li:first-child {
  border-top: 1px solid #fff
}

ul.contact-list li {
  padding: 12px 0;
  border-bottom: 1px solid #fff;
  max-width: 470px
}

ul.contact-list li a {
  color: #fff;
  margin: 0
}

.contact-section {
  background: no-repeat 100% #003660;
  padding: 40px 0;
  width: 100%
}

.contact-section h3 {
  color: #fff
}

.contact-section p {
  color: #fff;
  font-size: 16px
}

.contact-content .container-fluid {
  padding-left: 72px;
  padding-right: 72px
}

@media screen and (max-width:768px) {
  .contact-vanguard {
      padding-left: 12px;
      padding-top: 26px
  }
}

@media screen and (max-width:600px) {
  .contact-content .container-fluid {
      padding-left: 12px;
      padding-right: 12px
  }
}