    .gridComponentTextRight .real{
    padding: 0 75px;
    }
    .gridComponentTextRight{
    background-color: #f9f9f9;
    }
    .gridComponentTextRight,.gridComponentTextLeft {
        text-align: center;
    }
    .gridComponentTextRight .number{
        font-size:46px;
    }
    .gridComponentTextLeft .number{
        font-size:46px;
    }
    .gridComponentTextRight .red{
        color:red;
    }
    .gridComponentTextLeft  .red{
        color:red;                   
    }