//@import 'utils';

@font-face {
    font-family: Mark Pro;
	font-style: normal;
    font-weight: normal;
    src: url("/etc.clientlibs/vanguard/clientlibs/clientlib-site/resources/fonts/MARKPRO.otf") format("opentype")
}
@font-face {
    font-family: Mark Pro Black;
	font-style: normal;
    font-weight: normal;
    src: url("/etc.clientlibs/vanguard/clientlibs/clientlib-site/resources/fonts/MARKPROBLACK.otf") format("opentype");
}
@font-face {
    font-family: Mark Pro Bold;
	font-style: normal;
    font-weight: bold;
    src: url("/etc.clientlibs/vanguard/clientlibs/clientlib-site/resources/fonts/MARKPROBOLD.otf") format("opentype");
}
@font-face {
    font-family: Mark Pro Heavy;
	font-style: normal;
    font-weight: bold;
    src: url("/etc.clientlibs/vanguard/clientlibs/clientlib-site/resources/fonts/MARKPROHEAVY.otf") format("opentype");
}