//@import 'utils';

@include font-face('Mark Pro', '../resources/fonts/MARKPRO', normal, normal, otf);
@include font-face('Mark Pro Black', '../resources/fonts/MARKPROBLACK', normal, normal, otf);
@include font-face('Mark Pro Bold', '../resources/fonts/MARKPROBOLD', bold, normal, otf);
@include font-face('Mark Pro Heavy', '../resources/fonts/MARKPROHEAVY', bold, normal, otf);
